[Desktop Entry]
Type=Application
Name=Remap CapsLk to Ctrl
Comment=Remap the CapsLk key to Control
Exec=/usr/bin/setxkbmap -option "ctrl:nocaps"
Terminal=false
Hidden=false
