---
- name: checkout my configuration files
  git: >
    repo=git@github.com:tnguyen1/dotfiles.git
    dest=/home/{{ ansible_user_id }}/dotfiles
    accept_hostkey=yes

- name: create vimrc symlink
  file: >
    src=/home/{{ ansible_user_id }}/dotfiles/vimrc
    dest=/home/{{ ansible_user_id }}/.vimrc
    state=link
    force=yes

- name: remap caps lock key to control key
  copy: >
    src="autostart/Remap CapsLk to Ctrl.desktop"
    dest="{{ autostart_path }}"

